@use "../../styles/utils/variables" as v;

.dropdown {
  max-width: 1025px;
  width: 100%;
  margin: 15px 0;
}

.dropdown-header {
  background-color: v.$primary-color;
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__arrow {
    width: 20px;
  }
}

.content {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  color: v.$primary-color;
  border-radius: 10px;
  height: 200px;
  padding: 0 20px;
}

.close{
    display: none;
    transition: 0.2s ease-in-out;
}
