@use "../../styles/utils/variables" as v;

.dropdown {
  width: 582px;
  margin: 30px 0;
}

.dropdown-header {
  background-color: v.$primary-color;
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__arrow {
    width: 20px;
  }
}

#rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.content {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  color: v.$primary-color;
  border-radius: 10px;
  height: 200px;
  padding: 0 20px;
}

.close{
    display: none;
}
