@use "../../styles/utils/variables" as v;
@use "../../styles/utils/mixins" as m;

.dropdown {
  max-width: 1025px;
  width: 100%;
  margin: 15px 0;
}

.dropdown-header {
  background-color: v.$primary-color;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__arrow {
    width: 20px;
  }
}

.content {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  color: v.$primary-color;
  border-radius: 10px;
  height: 180px;
  padding: 0 20px;
  font-size: 12px;
  @include m.desktop {
    font-size: 14px;
    height: 120px;
  }
}

.close{
    display: none;
    transition: 0.2s ease-in-out;
}
