@use "../../styles/utils/variables" as v;
@use "../../styles/utils/mixins" as m;
.tag{
    background-color: map-get(v.$colors, primary);
    color: map-get(v.$colors, white);
    padding: 0 15px;
    height: 25px;
    border-radius: 10px;
    @include m.flex-center;
    justify-content: center;
}