@use "../../styles/utils/variables" as v;
.rating{
    display: flex;
    gap: 7px;
    &__active-star{
        color: map-get(v.$colors, primary);
    }
    &__star{
        color: map-get(v.$colors, grey);
    }
}