@use "../styles/utils/mixins" as m;
@use "../pages/Home/Home";
@use "../pages/Error/error";
@use "../components/Header/Header";
@use "../components/ImageTop/ImageTop";
@use "../components/Footer/footer";
@use "../components/RentalCard/RentalCard";
@use "../components/Slider/slider";
@use "../components/Rating/Rating";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.wrapper {
  height: 100vh;
  @include m.desktop {
    max-width: 1240px;
    margin-top: 40px;
  }
  max-width: 335px;
  margin: auto;
  margin-top: 20px;
  font-family: "Montserrat";
  width: 100%;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}
