@use "../styles/utils/mixins" as m;
@use "../components/Header/Header";
@use "../components/ImageTop/ImageTop";
@use "../pages/Error/error";

.wrapper {
  height: 100vh;
  @include m.desktop {
    max-width: 1240px;
    margin-top: 40px;
  }
  max-width: 335px;
  margin: auto;
  margin-top: 20px;
  font-family: "Montserrat";
  width: 100%;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}
