@use "../styles/utils/mixins" as m;

.wrapper {
  @include m.desktop {
    max-width: 1240px;
    margin-top: 40px;
  }
  max-width: 335px;
  margin: auto;
  font-family: "Montserrat";
  width: 100%;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}
