@use "../../styles/utils/mixins" as m;
@use "../../styles/utils/variables" as v;

.rental {
  &__host {
    @include m.flex-center;
    font-weight: 500;
    color: map-get(v.$colors, primary);
    font-size: map-get(v.$font-sizes, mobile-text);
    text-align: end;
    gap: map-get(v.$gap, mobile);
  }
  &__rating {
    width: 120px;
  }
  &__tags {
    display: flex;
    gap: 1em;
    font-size: 10px;
    @include m.desktop {
      font-size: map-get(v.$font-sizes, desktop-text);
    }
  }
  &__title {
    font-size: map-get(v.$font-sizes, default);
    font-weight: 500;
    color: #ff6060;
    margin-bottom: 10px;
    @include m.desktop {
      font-size: map-get(v.$font-sizes, desktop-subtitle);
    }
  }
  &__location {
    color: #ff6060;
    font-weight: 500;
    font-size: map-get(v.$font-sizes, desktop-text);
    margin-bottom: 15px;
    @include m.desktop {
      font-size: map-get(v.$font-sizes, default);
    }
  }
  &__host-picture{
    border-radius: 50%;
    width: 50px;
  }
}

.informations {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include m.desktop {
    flex-direction: row;
  }

  &__right {
    margin-top: 10px;
    @include m.flex-center;
    flex-direction: row-reverse;
    justify-content: space-between;

    gap: 20px;
    @include m.desktop {
      flex-direction: column;
    }
  }
}

.dropdowns{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include m.desktop {
    flex-direction: row;
    gap: 70px;
  }
}
