@use "../../styles/utils/mixins" as m;
@use "../../styles/utils/variables" as v;

.rental-container {
  background: none;
  @include m.desktop {
    border-radius: map-get(v.$border-radius , desktop);
    padding: 50px;
    margin: 45px 0;
    background: map-get(v.$colors, grey);
  }
  ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0;
    @include m.desktop {
      gap: 60px;
      margin: 0;
    }
  }
}
