@use "../../styles/utils/mixins" as m;
@use "../../styles/utils/variables" as v;

.header,
.menu {
  display: flex;
}

.header {
  @include m.flex-between-center;
  .menu {
    gap: map-get(v.$gap, mobile);
    @include m.desktop {
      gap: map-get(v.$gap, desktop);
    }
  }
  a {
    @include m.desktop {
      font-size: map-get(v.$font-sizes, desktop-subtitle);
    }
    font-size: map-get(v.$font-sizes, mobile-subtitle);
    color: map-get(v.$colors, primary);
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo {
    @include m.desktop {
      width: 210px;
    }
    width: 145px;
  }
}
