@use "../../styles/utils/mixins" as m;
@use "../../styles/utils/variables" as v;

.footer {
  height: 210px;
  position: absolute;
  left: 0;
  width: v.$full;
  background: map-get(v.$colors, black);
  @include m.flex-column-center;
  gap: map-get(v.$gap, mobile);
  img {
    max-width: 122px;
    width: v.$full;
  }
  p {
    font-size: map-get(v.$font-sizes, mobile-text);
    color: map-get(v.$colors, white);
    @include m.desktop {
      font-size: map-get(v.$font-sizes, desktop-text);
    }
  }
}
