@use "../../styles/utils/mixins" as m;
@use "../../styles/utils/variables" as v;
.slider{
    margin: 20px 0;
    position: relative;
    height: 255px;
    @include m.desktop{
        margin: 40px 0;
        height: 415px;
    }
    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }
    .slide-active{
        opacity: 1;
        transition-duration: 1s;
        height: v.$full;
    }
    img{
        width: v.$full;
        object-fit: cover;
        border-radius: map-get(v.$border-radius, mobile);
        height: v.$full;
    }
    &__left-arrow{
        position: absolute;
        top: 45%;
        left: 2%;
        width: 5%;
        color: map-get(v.$colors, white);
        cursor: pointer;
        @include m.desktop{
            width: 3%;
        }
    }
    &__right-arrow{
        position: absolute;
        top: 45%;
        right: 2%;
        width: 5%;
        color: map-get(v.$colors, white);
        cursor: pointer;
        @include m.desktop{
            width: 3%;
        }
    }
    .count{
        color: map-get(v.$colors, white);
        position: absolute;
        bottom: 3%;
        left: 50%;
    }
}