@use "../../styles/utils/mixins" as m;
@use "../../styles/utils/variables" as v;

.error {
  height: v.$full-screen;
  @include m.flex-center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  &__description h1 {
    font-size: 100px;
    margin: 0;
    color: map-get(v.$colors, primary);
  }
  &__description p {
    font-size: map-get(v.$font-sizes, mobile-subtitle);
    color: map-get(v.$colors, primary);
  }
  a {
    @include m.desktop {
      font-size: map-get(v.$font-sizes, default);
    }
    font-size: map-get(v.$font-sizes, mobile-text);
    color: map-get(v.$colors, primary);
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }
}
